APP_KEY=base64:gWUwRPSyP57aw9Gc1A9nyvrsCUllj+r2qcUgesBiP8Y=
DB_PREFIX=wp_
APP_DEBUG=true
APP_ENV=local
APP_URL=https://wp.test

# JWT_SECRET=base64:u9mX7r6bYk1vX8yH3Fz8Jt9Kx3L5Q2H9GvWqYzR0aE0=
# JWT_TTL=900            # 15 phút
# JWT_REFRESH_TTL=2592000 # 30 ngày (tính bằng giây)

LOG_CHANNEL=daily
LOG_LEVEL=debug